
html, body {
    line-height: 1.7;
    margin: 0;
    padding: 0;
}

body {
    color: #999;
    font-size: 13px;
    font-weight: 400;
    overflow-x: hidden;
    position: relative;
    font-family: 'Roboto', sans-serif
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, main {
    display: block
}

hr {
    border-left: none;
    border-right: none;
    border-top: 1px solid #E5E5E5;
    color: #F4F4F4;
    margin: 20px 0;
    padding: 0
}
/* =============== Link =============== */
a {
    text-decoration: none;
    outline: none;
    color: #2ec06c;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out
}

    a:hover {
        color: #666;
        text-decoration: none
    }

    a:active {
        text-decoration: none
    }

    a:focus {
        outline: none
    }

    a img {
        border: none
    }

    a[class*="glyphicon-"] {
        text-decoration: none
    }
/* =============== Heading =============== */
h1, h2, h3, h4, h5, h6 {
    margin: 5px 0 10px;
    color: #333;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif
}

h1, h2 {
    font-weight: 300
}

h1 {
    font-size: 2.2em
}

h2 {
    font-size: 1.8em
}

h3 {
    font-size: 22px
}

h4 {
    font-size: 18px
}

h5, h6 {
    font-size: 1em
}
/* =============== Style Html=============== */
ul, ul li,
ol, ol li,
p, form, input {
    margin: 0;
    padding: 0
}

p {
    margin-bottom: 10px
}

ul, ul li {
    list-style: none
}
/* =============== Img =============== */
img {
    border: none;
    max-width: 100%
}

    img.image-left {
        float: left;
        margin-right: 5px
    }

    img.img-full-width {
        width: 100%
    }

.margin-left {
    margin-left: 1em !important;
    margin-right: 0
}

.margin-right {
    margin-left: 0;
    margin-right: 1em !important
}
/* ============================== Layout ============================== */
.container {
    position: relative;
}

[layout="row"] {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
}

.fsr {
    -webkit-flex-shrink: 0;
    flex-shrink: 0
}

.fg {
    -webkit-flex-grow: 1;
    flex-grow: 1
}

.fw {
    flex-wrap: wrap
}

.verticalStretch {
    -ms-flex-align: stretch;
    -webkit-align-items: stretch;
    -webkit-box-align: stretch;
    align-items: stretch
}

.verticalCenter {
    -ms-flex-align: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    align-items: center
}

.btn {
    display: inline-block;
    color: #fff;
    text-transform: uppercase;
    padding: 10px 20px;
    text-align: center;
    border: 2px solid #fff;
    font-size: 12px;
    line-height: 100%
}

    .btn:hover {
        color: #fff
    }

.bg-white {
    background-color: #fff !important
}
/* =============== Hover=============== */
.hoverEffect {
    text-align: center
}

    .hoverEffect .item {
        background: #fff;
        display: inline-block
    }

        .hoverEffect .item .overlay {
            display: block;
            position: relative;
            left: 0;
            top: 0;
            -webkit-transition: all .3s ease-in-out;
            -moz-transition: all .3s ease-in-out;
            -o-transition: all .3s ease-in-out;
            -ms-transition: all .3s ease-in-out;
            transition: all .3s ease-in-out
        }

            .hoverEffect .item .overlay:before {
                content: "";
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                opacity: 0;
                -webkit-transition: all .3s ease-in-out;
                -moz-transition: all .3s ease-in-out;
                -o-transition: all .3s ease-in-out;
                -ms-transition: all .3s ease-in-out;
                transition: all .3s ease-in-out;
                background: rgba(206, 193, 193, 0.856);
                background: -webkit-linear-gradient(top, rgba(206, 193, 193, 0.856), rgba(125, 112, 126, 0.9));
                background: -o-linear-gradient(top, rgba(206, 193, 193, 0.856), rgba(125, 112, 126, 0.9));
                background: linear-gradient(to bottom, rgba(206, 193, 193, 0.856), rgba(125, 112, 126, 0.9))
            }

        .hoverEffect .item:hover .overlay {
            left: -10px;
            top: -10px
        }

            .hoverEffect .item:hover .overlay:before {
                opacity: 1
            }

    .hoverEffect .content {
        position: absolute;
        left: 0;
        top: 50%;
        width: 100%;
        z-index: 1;
        opacity: 0;
        text-align: center;
        color: #fff;
        text-transform: uppercase;
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%)
    }

    .hoverEffect .item:hover .content {
        opacity: 1
    }
/* =============== Header =============== */
#header {
    position: relative;
    font-family: 'Montserrat', sans-serif;
    background: url(../images/header.jpeg) no-repeat center center / cover
}

    #header:after {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: rgba(206, 193, 193, 0.856);
        background: -webkit-linear-gradient(top, rgba(206, 193, 193, 0.856), rgba(125, 112, 126, 0.9));
        background: -o-linear-gradient(top, rgba(206, 193, 193, 0.856), rgba(125, 112, 126, 0.9));
        background: linear-gradient(to bottom, rgba(206, 193, 193, 0.856), rgba(125, 112, 126, 0.9))
    }

#headerInner {
    position: relative;
    z-index: 5
}
/* =============== Slider=============== */
#slider {
    padding: 40px 0 0
}

    #slider .carousel-inner {
        height: 386px
    }

        #slider .carousel-inner > .item {
            text-align: center;
            color: #fff
        }

    #slider .carousel-indicators {
        width: 100%;
        left: 0;
        margin: 0;
        position: static;
        margin-top: 80px
    }

        #slider .carousel-indicators li,
        #slider .carousel-indicators li.active {
            float: left;
            width: 25%;
            height: auto;
            margin: 0;
            text-indent: initial;
            border-radius: 0;
            background: none;
            text-align: left;
            border: none
        }

            #slider .carousel-indicators li .inner {
                border-top: 2px solid #f7eac4;
                position: relative;
                color: #faf3e0;
                text-transform: uppercase;
                margin: 0 12px;
                padding: 10px 0
            }

            #slider .carousel-indicators li:hover .inner,
            #slider .carousel-indicators li.active .inner {
                border-color: #fff;
                color: #fff
            }

                #slider .carousel-indicators li:hover .inner:after,
                #slider .carousel-indicators li.active .inner:after {
                    content: "";
                    position: absolute;
                    left: 0;
                    top: -2px;
                    width: 60px;
                    height: 2px;
                    background: rgba(206, 193, 193, 0.856)
                }

            #slider .carousel-indicators li .number {
                font-weight: 700;
                font-size: 18px;
                margin-right: 3px
            }
/* =============== Menu =============== */
#navbar {
    background: none;
    border: none;
    border-radius: 0
}

    #navbar .navbar-brand {
        color: #fff;
        font-weight: 700;
        font-size: 20px
    }

    #navbar .navbar-nav > li > a {
        color: red;
        font-weight: 500;
        text-transform: uppercase;
        border-bottom: 3px solid transparent;
        padding: 15px 5px 5px;
        margin: 0 12px
    }

        #navbar .navbar-nav > li > a:hover,
        #navbar .navbar-nav > .active > a,
        #navbar .navbar-nav > .active > a:hover {
            color: white;
            border-color: #fce38a;
            background: none
        }

    #navbar .menuItem {
        float: right
    }

    #navbar .iconsGroup li a {
        border: none;
        font-size: 18px
    }

    #navbar .navbar-toggle {
        margin-right: 0;
        border: none
    }

        #navbar .navbar-toggle:hover,
        #navbar .navbar-toggle:focus {
            background: none
        }

        #navbar .navbar-toggle .icon-bar {
            background: rgba(206, 193, 193, 0.856)
        }

/* =============== Content =============== */
section {
    padding: 80px 0
}

#slider .sectionHeading {
    font-size: 110px;
    color: #fff
}

    #slider .sectionHeading .subHeading {
        font-size: 55px
    }

    #slider .sectionHeading:after {
        background: #fff
    }

.sectionHeading {
    font-weight: 700;
    font-size: 25px;
    line-height: 1;
    position: relative;
    padding-bottom: 20px;
    margin-bottom: 30px;
    text-align: center;
    color: #333
}

    .sectionHeading:after {
        content: "";
        position: absolute;
        left: 50%;
        bottom: 0;
        width: 50px;
        height: 2px;
        background: rgba(206, 193, 193, 0.856);
        transform: translateX(-50%)
    }

    .sectionHeading .subHeading {
        display: block;
        text-transform: none;
        font-weight: 400;
        font-family: 'Kaushan Script', cursive;
        font-size: 20px;
        margin-bottom: 20px
    }

.sectionDesc {
    text-align: center;
    max-width: 750px;
    margin: 0 auto 40px
}
/* =============== Options =============== */
#story .content {
    font-weight: 700;
    font-size: 14px
}

    #story .content .icon {
        display: block;
        font-size: 30px
    }
/* =============== Counter=============== */
#counting {
    padding: 0;
    background: rgba(206, 193, 193, 0.856);
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    font-size: 14px
}

    #counting .item {
        width: 35%;
        padding: 60px 5px;
        border-right: 1px solid #fff
    }

        #counting .item:first-child {
            border-left: 1px solid #fff
        }

    #counting .number {
        font-size: 65px;
        font-weight: 700;
        line-height: 100%;
        margin-bottom: 10px
    }

/* Hover */

img {
    display: block
}

.imgwrap {
    display: inline-block;
    vertical-align: middle
}

    .imgwrap img {
        color: #fff
    }

.rollover {
    position: absolute;
    ;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: #;
    color: #fff;
    transform: translateX(-100%);
    transition: all .5s ease;
    pointer-events: none
}

.roll-inner {
    display: table
}

.roll-content {
    text-align: center;
    display: table-cell;
    vertical-align: middle
}

    .roll-content h3, .roll-content p {
        margin: auto
    }

.imgwrap:hover .rollover {
    transform: translateX(0)
}

.point-of-reference {
    position: absolute;
    color: #95e1d3;
    size: 20px;
    overflow: hidden
}

.imgwrap {
    display: inline-block;
    vertical-align: middle
}

    .imgwrap img {
        color: #fff
    }

.rollover {
    position: absolute;
    ;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: rgba(206, 193, 193, 0.856);
    color: #fff;
    transform: translateX(-100%);
    transition: all .5s ease;
    pointer-events: none
}

.roll-inner {
    display: table
}

.roll-content {
    text-align: center;
    display: table-cell;
    vertical-align: middle
}

    .roll-content h3, .roll-content p {
        margin: auto
    }

.imgwrap:hover .rollover {
    transform: translateX(0)
}

.point-of-reference {
    position: relative;
    color: #95e1d3;
    font-size: 30px;
    margin-right: 20px;
    overflow: hidden
}


/* =============== Books =============== */
#ourTeam .content .icon {
    display: inline-block;
    font-size: 25px;
    padding: 10px;
    margin: 0 -1px;
    line-height: 100%
}

    #ourTeam .content .icon:hover {
        color: red;
        background: black
    }

#ourTeam .info {
    margin-top: 10px;
    text-align: center
}

#ourTeam .name {
    font-size: 14px;
    margin: 0 0 5px
}

#ourTeam .regency {
    font-style: italic
}
/* =============== Review =============== */
    #happyClient .item {
        margin-bottom: 30px
    }

    #happyClient .avatar {
        width: 80px;
        margin-right: 30px
    }

    #happyClient .name {
        font-size: 14px
    }

    #happyClient .regency {
        position: relative;
        padding-bottom: 12px;
        display: inline-block;
        font-style: italic;
        margin-bottom: 12px
    }

        #happyClient .regency:after {
            content: "";
            position: absolute;
            left: 0;
            bottom: 0;
            width: 50px;
            height: 2px;
            background: rgba(206, 193, 193, 0.856)
        }
/* =============== Latest Books =============== */
.articleThumb {
    position: relative;
    margin-bottom: 20px
}


.date {
    position: absolute;
    background: rgba(206, 193, 193, 0.856);
    left: -10px;
    bottom: 10px;
    padding: 10px 15px;
    color: #fff;
    text-align: center
}

  .date .number {
        display: block;
        font-size: 28px;
        line-height: 100%;
        font-weight: 700;
        font-family: 'Montserrat', sans-serif
    }

 .date .text {
        display: block;
        font-weight: 300;
        font-style: italic
    }



/* =============== Footer =============== */
footer {
    padding-top: 50px;
    background: rgba(206, 193, 193, 0.856)
}

    footer .colHeading {
        margin: 0 0 25px;
        font-size: 14px
    }

    footer .colInfo {
        margin-bottom: 30px
    }

    footer .footerLogo a {
        color: #fff;
        font-size: 40px;
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
        display: inline-block;
        margin-bottom: 20px;
        line-height: 100%
    }

}

footer .subscribeForm .input-group input,
footer .subscribeForm .input-group .btn {
    border-radius: 0
}

footer .subscribeForm .input-group input {
    border-color: #e7e7e7;
    box-shadow: none;
    font-style: italic;
    font-size: 15px
}

footer .subscribeForm .input-group .btn {
    text-transform: uppercase;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    background: rgba(206, 193, 193, 0.856);
    border: none
}



/* ============================================================ Responsive ============================================================ */
@media (max-width: 1200px) {

    /* =============== Options =============== */
    #whatWeDo .panel-body {
        height: 118px
    }
    /* =============== Footer =============== */
    footer .followUs {
        margin: 15px 0
    }

    footer .instagramImages a {
        width: 70px
    }
}

@media (max-width: 992px) {
    section {
        padding: 45px 0
    }

    /* =============== Counter =============== */
    #counting {
        font-size: 10px
    }

        #counting .item {
            padding: 35px 5px
        }

        #counting .number {
            font-size: 50px
        }

    /* =============== Options =============== */
    #whatWeDo .panel-group {
        margin-top: 20px
    }
    /* =============== Books =============== */
    #ourTeam .content .icon {
        font-size: 18px;
        padding: 8px
    }

    #ourTeam .info {
        margin-top: 10px
    }


    /* =============== Latest Books =============== */
    #latestBlog article .articleTitle {
        font-size: 11px
    }

    #latestBlog article .date {
        padding: 8px 12px
    }

        #latestBlog article .date .number {
            font-size: 18px
        }

        #latestBlog article .date .text {
            font-size: 11px
        }
}

@media (max-width: 768px) {

    /* =============== Hover=============== */
    .hoverEffect .item {
        margin-bottom: 1px
    }
    /* =============== Slider=============== */
    #slider {
        padding-top: 10px
    }

        #slider .carousel-inner {
            height: 270px
        }

        #slider .carousel-indicators {
            margin-top: 30px
        }

        #slider .sectionHeading {
            font-size: 60px
        }

            #slider .sectionHeading .subHeading {
                font-size: 35px
            }

    /* =============== Books =============== */
    #ourTeam .info {
        margin: 0 0 10px
    }


    /* =============== Latest books =============== */
    #latestBlog {
        text-align: center
    }

        #latestBlog article {
            display: inline-block;
            max-width: 380px;
            margin-bottom: 30px;
            text-align: left
        }
}

@media (max-width: 767px) {

    /* =============== Slider =============== */
    #slider .sectionHeading {
        font-size: 45px
    }

        #slider .sectionHeading .subHeading {
            font-size: 22px
        }

    #slider .carousel-inner {
        height: 205px
    }

    #slider .carousel-indicators li .number {
        display: none
    }
    /* =============== Counter=============== */
    #counting .item {
        padding: 20px 5px
    }

    #counting .number {
        font-size: 28px
    }

    #counting .text {
        font-size: 9px
    }

    /* =============== Review =============== */
    #happyClient .avatar {
        width: 50px;
        margin-right: 15px
    }

    ] #searchForm .close {
        font-size: 40px
    }
    /* =============== Footer =============== */
    footer {
        padding-top: 30px
    }
}

@media (max-width: 480px) {

    /* =============== Slider =============== */
    #slider .carousel-indicators li .inner {
        text-indent: -99999em;
        line-height: 0;
        border-width: 3px
    }

    #slider .carousel-indicators .inner:after {
        display: none
    }

    #slider .carousel-indicators li.active .inner {
        background: rgba(206, 193, 193, 0.856)
    }
}

.glyphicon {
    margin-right: 5px
}

.rating .glyphicon {
    font-size: 22px
}

.rating-num {
    margin-top: 0px;
    font-size: 54px
}

.progress {
    margin-bottom: 5px
}

.progress-bar {
    text-align: left
}

.rating-desc .col-md-3 {
    padding-right: 0px
}

.sr-only {
    margin-left: 5px;
    overflow: visible;
    clip: auto
}


#login {
    display: none
}

.login,
.logout {
    position: absolute;
    top: -3px;
    right: 0
}

.page-header {
    position: relative
}

.reviews {
    color: #555;
    font-weight: bold;
    margin: 10px auto 20px
}

.notes {
    color: #999;
    font-size: 12px
}

.media .media-object {
    max-width: 120px
}

.media-body {
    position: relative
}

.media-date {
    position: absolute;
    right: 25px;
    top: 25px
}

    .media-date li {
        padding: 0
    }

        .media-date li:first-child:before {
            content: ''
        }

        .media-date li:before {
            content: '.';
            margin-left: -2px;
            margin-right: 2px
        }

.media-comment {
    margin-bottom: 20px
}

.media-replied {
    margin: 0 0 20px 50px
}

    .media-replied .media-heading {
        padding-left: 6px
    }

.logout .btn {
    margin-top:10px;
    background-color: rgba(206, 193, 193, 0.856);
}
.btn-circle {
    font-weight: bold;
    font-size: 12px;
    padding: 6px 15px;
    border-radius: 20px;
    
}

    .btn-circle span {
        padding-right: 6px
    }

.embed-responsive {
    margin-bottom: 20px
}

.tab-content {
    padding: 50px 15px;
    border: 1px solid #ddd;
    border-top: 0;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    margin-bottom:20px;
}

.custom-input-file {
    overflow: hidden;
    position: relative;
    width: 120px;
    height: 120px;
    background: #eee url('https://s3.amazonaws.com/uifaces/faces/twitter/walterstephanie/128.jpg');
    background-size: 120px;
    border-radius: 120px
}

input[type="file"] {
    z-index: 999;
    line-height: 0;
    font-size: 0;
    position: absolute;
    opacity: 0;
    filter: alpha(opacity = 0);
    -ms-filter: "alpha(opacity=0)";
    margin: 0;
    padding: 0;
    left: 0
}


