
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <title>Online Library | Free E-Books</title>
        
    
    
          <environment include="Development">
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
            <link rel="stylesheet" href="../lib/bootstrap/dist/css/bootstrap.min.css" />
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
            <link rel="stylesheet" href="../css/template.css" />
        </environment>
      
        
    </head>
    
    <body >
    
        <!-- Header
        ================================================== -->
        <header id="header">
            <div id="headerInner">                 
                <nav id="navbar" class="navbar navbar-default" role="navigation">
                    <div class="container">
    
                        <!-- Brand and toggle get grouped for better mobile display -->
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" >
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                           <div class="logout" style="">
                <a class="btn btn-default btn-circle text-uppercase"  asp-area="" asp-controller="Account" asp-action="Logout">
                    <span class="glyphicon glyphicon-off"></span> Logout                    
                </a>                
            </div>
                        </div>
    
                        <!-- Collect the nav links, forms, and other content for toggling -->
                    
                    </div><!-- /.container-fluid -->
                </nav>
    
                <section id="slider" class="carousel slide container" data-ride="carousel">
                    
                    <!-- Wrapper for slides -->
                    <div class="carousel-inner" role="listbox">
                        <div class="item active">
                            <h2 class="sectionHeading" style="font-size:50px; font-family: 'Montserrat';">
                                <a asp-area="" asp-controller="Home" asp-action="Index" style="color:#fff">
                               <span class="subHeading">Free E-Books<br>
                                Welcome to <br>Online Library
                                </span>
                                </a>
                            </h2>
                        </div>
                        <div class="item">
                            <h2 class="sectionHeading" style="font-size:50px;">
                                 <a asp-area="" asp-controller="Home" asp-action="Index" style="color:#fff">
                               <span class="subHeading">Free E-Books<br>
                                Welcome to <br>Online Library
                                </span>
                                </a>
                            </h2>
                    </div>
                    </div>
                  
                      

                    <!-- Indicators -->
                    <ol class="carousel-indicators clearfix">
                        <li data-target="#slider"  >
                            <div class="inner">
                         <a asp-area="" asp-controller="Books" asp-action="ActionBooks" style="color:#fff"><span class="number">01</span> Action  </a>
                            </div>
                        </li>
                        <li data-target="#slider" >
                            <div class="inner">
                                <a  asp-area="" asp-controller="Books" asp-action="ThrillerBooks" style="color:#fff">
                                <span class="number">02</span> Thriller
                                </a>
                            </div>
                        </li>
                        <li data-target="#slider" >
                            <div class="inner">
                                <a  asp-area="" asp-controller="Books" asp-action="DramaBooks" style="color:#fff">
                                <span class="number">03</span> Drama
                                </a>
                            </div>
                        </li>
                        <li data-target="#slider" >
                            <div class="inner">
                                <a  asp-area="" asp-controller="Books" asp-action="RomanceBooks" style="color:#fff">
                                <span class="number">04</span> Romance
                                </a>
                            </div>
                        </li>
                    </ol>
                </section>
            </div>
                        
        </header><!--/#header-->
    
             <div class="container body-content">
            @RenderBody()
            <hr />
        </div>
    
          <footer id="footer">
            <div class="container">
                <div class="row">
                        <div class="col-md-4">
                        <div class="colInfo">
                            <div class="footerLogo">
                                <a href="#" >OnlineLibrary</a>   
                            </div>
                            <p>
                                    If you want to be the first to download the newest books please subscribe
                                </p>
                           
                            <form action="" class="subscribeForm">
                                <div class="input-group input-group-lg">
                                    <input type="email" class="form-control" placeholder="Your Email" >
                                    <span class="input-group-btn">
                                        <button class="btn btn-success" type="submit">Subscribe</button>
                                    </span>
                                </div>
                            </form>
                        </div>
                    </div>
    
                    </div>
            </div>
        </footer><!--/#footer-->
                    
         <environment include="Development">
            <script src="../lib/jquery/dist/jquery.min.js"></script>
            <script src="../wwwroot/js/functions.js"></script>
            <script src="../lib/bootstrap/dist/js/bootstrap.min.js"></script>
        </environment>
       
    
        @RenderSection("Scripts", required: false)
                    
        </body>
     <script>
function fct() 
    {
      location.href = '@Url.Action("AddBook","Books")';
    }

    function f(y) 
    {
        alert (y);
    }

</script>


    </html>
    
