<!DOCTYPE html>
<html>
<title>Register</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
    
      <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/register.css" />
        <link rel="stylesheet" href="~/css/firstPage.css" />


    </environment>

    
<body>

<div class="bgimg w3-display-container w3-animate-opacity w3-text-white">
  <div class="w3-display-topleft w3-padding-large w3-xlarge">
    Online Library
  </div>
  <div class="w3-display-middle">
     <div class="container body-content">
        @RenderBody()
        <hr />
       

</div>
</div>
</div>>
</body>
</html>
